.soundo__page {
  background-color: white;
  display: flex;
  font-size: 1rem;
}

.soundo__page ::-webkit-scrollbar-thumb {
  background-color: var(--soundo-pink-dark);
  border-radius: 10px;
  border: 3px solid white;
}

.soundo__page ::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
}

.soundo__leftpanel {
  flex: 0 0 50%;
  background-color: rgb(15, 14, 15);
  max-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.soundoArt1 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
}

.soundoArt1 img {
  width: 100%;
  margin: auto;
}

.soundoArt2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  bottom: -100%;
  background-color: rgb(255, 255, 255);
  left: 0;
}

.soundoArt2a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  bottom: -100%;

  animation-name: scrollIN;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.soundoArt2 img {
  width: 50%;
  margin: auto;
}

@keyframes scrollIN {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0%;
  }
}
.soundo__rightpanel {
  flex: 5;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.soundo__rightpanel__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}

/*RIGHT PANEL TOP PAGE*/

.soundo__rightpanel__body__top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  min-height: 100vh;
  align-items: center;
  flex-shrink: 0;
  /* margin-bottom: 4rem; */
  justify-content: center;
  background-color:black;
}

.soundo__rightpanel__body__top__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  justify-content: flex-end;

  /* max-width: 800px; */
}

.soundo__rightpanel__body__top__heading {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  flex: 2;
}

.soundo__rightpanel__body__top__name {
  width: 80%;
  color: white;
}

/*RIGHT PANEL TOP-RIGHT PAGE*/

.soundoTag {
  font-family: "Calibri";
  color: white;
  font-size: calc(5.7 * var(--soundo-font));
  font-weight: 400;
  letter-spacing: -5px;
}

.soundoNum {
  font-family: "Calibri";
  color: white;
  font-size: calc(3.8 * var(--soundo-font));
  letter-spacing: -3px;
}

.soundo__rightpanel__body__top__description__container {
  flex: 4;
  /* min-width: 600px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #000;
}

.soundo__rightpanel__body__top__description {
  flex: 1;
  /* min-width: 600px; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 40px;
}

.soundo__primary__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.soundo__name {
  color: white;
  font-size: calc(7.5 * var(--soundo-font));
  line-height: calc(8 * var(--soundo-font));
  font-weight: 700;
  position: relative;
}

.soundo__definition-list {
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 0fr 0fr 0fr;
  grid-row-gap: 6px;
  align-items: center;
  /* height: 345px; */
}

.soundo__points {
  color: var(--soundo-pink-dark);
  font-style: normal;
  font-size: calc(2.6 * var(--soundo-font));
  line-height: calc(4 * var(--soundo-font));
  font-weight: 700;
  width: 100%;
  font-family: var(--soundo-font-main);
}

.soundo__one {
  grid-row: 1/2;
  grid-column: 1/3;
}

.spanColor {
  color: var(--soundo-pink-dark);
  font-weight: 700;
}

.soundo__two {
  grid-row: 2/3;
  grid-column: 1/3;
  overflow-wrap: break-word;

  font-family: "Calibri";
  font-size: 2.5rem;
  line-height: 3.7rem;
  font-weight: 300;
}
.soundo__three {
  grid-row: 3/3;
  grid-column: 1/3;
  overflow-wrap: break-word;
  /* padding-right: 1.2em; */
}

.soundo__rightpanel__body__top__base {
  display: flex;
  justify-content: space-between;

  width: 70%;
  align-items: flex-end;
}

.soundo__socials {
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.soundo__socials > img {
  width: 20%;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  transform: scale3d();
}

.soundo__contact {
  display: flex;

  align-items: flex-end;
  width: 100%;
}
.soundo__contact > button {
  font-size: calc(2 * var(--soundo-font));
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 1.5rem 4rem;
  color: white;
  background-color: var(--soundo-pink-dark);
}

.soundo__accolades {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.soundo__accolades > img {
  width: 120px;
  margin-left: 10px;
}

/*RIGHT PANEL Mid PAGE*/
.soundo__rightpanel__body__mid {
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  min-height: 100vh;
  padding: 4rem 4rem 4rem 4rem;
  max-width: 1200px;
  font-family: "Roboto";
  flex-shrink: 0;
  border-bottom-left-radius: 0px;
  /* background-image: url("../Images/Saly-37.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  user-select: none;
}

.soundo__rightpanel__body__mid__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}
.soundo__rightpanel__body__mid__container__content {
  min-width: 400px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: rgb(121, 121, 121); */
  color: white;
}

.soundo__musicplayer {
  width: 90%;

  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.soundo__musicplayer__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: #000000;
  /* padding: 20px; */

  
  justify-content: space-between;
  align-items: center;
}

.soundo__musicplayer__container__top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(3.3 * var(--soundo-font));
  font-weight: 700;
  font-family: "Inter";
  width: 100%;
  padding-bottom: 20px;
}

.soundo__musicplayer__container__top > p {
  cursor: pointer;
  margin: 0 50px;
}

.soundo__musicplayer__container__mid__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--soundo-pink-dark);
  padding: 20px;

  border-radius: 10px;
  margin-bottom: 20px;
}
.soundo__musicplayer__container__mid__buttons > img {
  width: 20%;
}

.soundo__musicplayer__container__bottom {
  font-size: calc(2.7 * var(--soundo-font));
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.soundo__nowPlaying{
  flex: 5;
}

.soundo__volumebar{
  flex: 2;
  display: flex;
  justify-content: space-between;align-items: center;
}

.soundo__volumebar__minus, .soundo__volumebar__add{
display: contents;
}
.soundo__volumebar__minus>svg, .soundo__volumebar__add>svg{
width: 20%;
}
.soundo__volumebar__minus>svg:hover, .soundo__volumebar__add>svg:hover ,.soundo__musicplayer__container__mid__buttons>img:hover{
transform: scale(1.2);
transition: .5s;
fill:var(--soundo-pink-dark);
border-radius: 50%;
border: 1px solid var(--soundo-pink-dark);
background-color: rgba(255, 255, 255, 0);
cursor: pointer;
}

.soundo__musicplayer__container__mid__buttons>img:focus{
background-color: aqua;
}


.soundo__music__list {
  width: 90%;
  margin-top: 20px;
 
}

.soundo__music__list_items {
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: overlay;
  overflow-x: hidden;
  /* padding: 10px; */
  
}

.soundo__music__list_items::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.soundo__music__list_items::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0px;
}
.soundo__music__list_item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.784);
  margin: 5px 0px;
  border: 1px solid var(--soundo-pink-dark);
  border-radius: 15px;
  cursor: pointer;
 
}

.soundo__music__list_item:hover {
  background-color: rgba(212, 212, 212, 0.241);
}
.soundo__music__list_item:active {
  background-color: rgba(0, 0, 0, 0.241);
}

.soundo__music__list_item__displayPic {
  display: contents;
}
.soundo__music__list_item__displayPic > img {
  width: 10%;
  margin-right: 20px;
}

.soundo__music__list_item__soundDetails {
  font-weight: 300;
  flex: 1;
}

.soundlabel {
  position: relative;
  font-size: calc(2 * var(--soundo-font));
  font-weight: 400;
  font-family: "Inter";
}

.soundtype {
  font-size: calc(2 * var(--soundo-font));
  font-weight: 200;
  word-break: keep-all;
  display: flex;
  margin-top: -1rem;
}



.soundo__music__list_item__equalizer{
 align-self:flex-end;
 display: contents;
}
.soundo__music__list_item__equalizer>img{
 width: 5%;
}

/* MEDIA QUERY */

@media screen and (max-width: 900px) {
  .soundo__page {
    /* --soundo-font: 1.5rem; */
  }

  .soundo__leftpanel {
    visibility: hidden;
    display: none;
  }

  .soundo__rightpanel__body__top {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .soundo__leftpanel {
    visibility: hidden;
    display: none;
  }

  .soundo__rightpanel__body__top {
    padding: 0;
  }

  .soundo__rightpanel__body__top {
    flex-direction: column;
  }

  .soundo__art {
    width: 60%;
    min-width: 0px;
  }

  .soundo__rightpanel__body__top__right__image {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
}
