.soundo__page {
  background-color: white;
  display: flex;
  font-size: 1rem;
}

.soundo__page ::-webkit-scrollbar-thumb {
  background-color: var(--soundo-pink-dark);
  border-radius: 10px;
  border: 3px solid white;
}

.soundo__page ::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
}

.soundo__leftpanel {
  flex: 0 0 50%;
  background-color: rgb(15, 14, 15);
  max-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.soundoArt1 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
}

.soundoArt1 img {
  width: 100%;
  margin: auto;
}

.soundoArt2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  bottom: -100%;
  background-color: rgb(255, 255, 255);
  left: 0;
}

.soundoArt2a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  bottom: -100%;

  animation-name: scrollIN;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.soundoArt2 img {
  width: 50%;
  margin: auto;
}

@keyframes scrollIN {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0%;
  }
}
.soundo__rightpanel {
  flex: 5;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.soundo__rightpanel__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}

/*RIGHT PANEL TOP PAGE*/

.soundo__rightpanel__body__top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  min-height: 100vh;
  align-items: center;
  flex-shrink: 0;
  /* margin-bottom: 4rem; */
  justify-content: center;
  background-color: var(--soundo-pink-dark);
 
}

.soundo__rightpanel__body__top__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  justify-content: flex-end;
  
 
  /* max-width: 800px; */
}

.soundo__rightpanel__body__top__heading{
  background-color: var(--soundo-pink-dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  flex-direction: column;
  flex: 2;
 
}

.soundo__rightpanel__body__top__name{
  width: 80%;
  color: white;
 
}

/*RIGHT PANEL TOP-RIGHT PAGE*/

.soundoTag {
  font-family: "Calibri";
  color: white;
  font-size: calc(5.7 * var(--soundo-font));
  font-weight: 400;
  letter-spacing: -5px;
}

.soundoNum {
  font-family: "Calibri";
  color:white;
  font-size: calc(3.8 * var(--soundo-font));
  letter-spacing: -3px;
}

.soundo__rightpanel__body__top__description__container{
    flex: 4;
  /* min-width: 600px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #000;
}

.soundo__rightpanel__body__top__description {

  flex: 1;
  /* min-width: 600px; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom : 40px;
  
}



.soundo__primary__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.soundo__name {
  color: white;
  font-size: calc(7.5 * var(--soundo-font));
  line-height: calc(8 * var(--soundo-font));
  font-weight: 700;
  position: relative;
}



.soundo__definition-list {
  display: grid;
  grid-template-columns:5fr;
  grid-template-rows: 0fr 0fr 0fr;
  grid-row-gap: 6px;
  align-items: center;
  /* height: 345px; */
}

.soundo__points {
  color: var(--soundo-pink-dark);
  font-style: normal;
  font-size: calc(2.6 * var(--soundo-font));
  line-height: calc(4 * var(--soundo-font));
  font-weight: 700;
  width: 100%;
  font-family: var(--soundo-font-main);
}

.soundo__one {
  grid-row: 1/2;
  grid-column: 1/3;
}

.spanColor{
    color: var(--soundo-pink-dark);
    font-weight: 700;
    
}

.soundo__two {
    grid-row: 2/3;
    grid-column: 1/3;
    overflow-wrap: break-word;
    
    font-family: "Calibri";
    font-size: 2.5rem;
    line-height: 3.7rem;
    font-weight: 400;
}
.soundo__three {
    grid-row: 3/3;
    grid-column: 1/3;
    overflow-wrap: break-word;
    /* padding-right: 1.2em; */
}


.soundo__rightpanel__body__top__base {
  display: flex;
  justify-content:space-between;
 
  width: 70%;  
  align-items: flex-end;
  
}

.soundo__socials {
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.soundo__socials > img {
  width: 20%;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

.soundo__contact {
  display: flex;
  
  align-items: flex-end;
  width: 100%;
  
}
.soundo__contact > button {
  font-size: calc(2 * var(--soundo-font));
  border-radius: .5rem;
  outline: none;
  border: none;
  padding: 1.5rem 4rem;
  color: white;
  background-color: var(--soundo-pink-dark);
}

.soundo__accolades{
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.soundo__accolades > img{
   width: 120px;
   margin-left: 10px;
}





/*RIGHT PANEL Mid PAGE*/
.soundo__rightpanel__body__mid {
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  min-height: 100vh;
  padding: 4rem 4rem 4rem 4rem;
  max-width: 1200px;
  font-family: "Roboto";
  flex-shrink: 0;
  border-bottom-left-radius: 0px;
  background-image: url("../Images/Saly-37.png");
  background-repeat: no-repeat;
  background-size: contain;
 background-position: center;
  
}

.soundo__rightpanel__body__mid__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}
.soundo__rightpanel__body__mid__container__content {
  min-width: 400px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: rgb(121, 121, 121); */

  color: white;
}



.soundo__content__divider {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: var(--soundo-font-sub);
  font-weight: 300;
  font-size: calc(3 * var(--soundo-font));
}

.soundo__content__divider > p {
  margin: 0 20px;
  color: var(--soundo-blue-dark);
  font-style: italic;
}

.soundo__lineboxOne {
  flex: 4;
  height: 4px;
  background-color: var(--soundo-blue-dark);
}

.soundo__lineboxTwo {
  flex: 4;
  height: 4px;
  background-color: var(--soundo-blue-dark);
    position: relative;
}

.soundo__testimonials{
    display: flex;
    width: 100%;
    justify-content: center;
}


.soundo__testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width: 200px;
 
    border-bottom-left-radius: 23px ;
    border-bottom-right-radius: 23px ;
    margin-right: 40px;
  
   
}

.soundo__testimonial__card__top{
    width: 100%;
    background-color:#0a0546e0;
    background-image: url(../Images/testimonialBG1.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    border-top-left-radius: 23px ;
    border-top-right-radius: 23px ;
    padding-top: 20px;
  
}


.soundo__testimonial__card__top>img{
    width: 65%;
    transform: translateY(10px);
    z-index: 1;   

}

.card2>img{
    width: 55%;
    transform: translateY(10px);
    z-index: 1;   

}

.soundo__testimonial__card__bottom{
    width:100%;
    color: white;
    text-align: center;
    font-family: "calibri";
    font-size: calc(1.50* var(--soundo-font));
    background-color: var(--soundo-black);
    border-bottom-left-radius: 23px ;
    border-bottom-right-radius: 23px ;
    padding: 10px;
    font-style: italic;
    z-index: 2;
    height: 100px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

.soundo__projectlist {
    display: flex;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    padding: 10px 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 100%;
    justify-content: flex-start;
  }
  
  .soundo__projectlist__avatar {
    background-color: rgba(0, 0, 0, 0);  
    margin-right:300px;
    display: contents;
  }
  
  .soundo__projectlist__avatar > img {
    box-sizing:border-box;
    background-color: rgb(255, 255, 255);
    width: 6%;
    border: 1px solid rgba(3, 3, 3, 0.727);
    padding: 2px;
   
    margin-right: 20px;
    
  }
  
  .soundo__projectlist__desc {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 300;
    background-color: var(--soundo-blue-dark);
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

  }

.soundo__degree{
font-size: calc(1.4 * var(--soundo-font));
font-weight: 500;
}

.soundo__degree__definition{
    font-size: calc(1.2 * var(--soundo-font));
    font-weight: 300;
}
  



/* MEDIA QUERY */

@media screen and (max-width: 900px) {
  .soundo__page {
    /* --soundo-font: 1.5rem; */
  }

  .soundo__leftpanel {
    visibility: hidden;
    display: none;
  }

  .soundo__rightpanel__body__top {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .soundo__leftpanel {
    visibility: hidden;
    display: none;
  }

  .soundo__rightpanel__body__top {
    padding: 0;
  }

  .soundo__rightpanel__body__top {
    flex-direction: column;
  }

  .soundo__art {
    width: 60%;
    min-width: 0px;
  }

  .soundo__rightpanel__body__top__right__image {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
}
