.webo__page ::-webkit-scrollbar-thumb {
  background-color: var(--webo-blue-dark);
  border-radius: 10px;
  border: 3px solid white;
}
.webo__page ::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  display: none;
}
a {
  text-decoration: none;
  display: contents;
}

.webo__page {
  background-color: rgba(0, 0, 0, 0.89);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--webo-font);
  position: absolute;
  z-index: 100;
  padding: 2rem 1rem;
  height: 100%;
  width: 100%;
}

.webo__page__container {
  background-color: rgb(0, 0, 0);
  display: flex;
  font-size: var(--webo-font);
  height: var(--modal-height);
  width: var(--modal-width);
  position: relative;
}

.webo__page__container__close {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.webo__page__container__close > svg:hover {
  transform: scale(1.2);
  fill: rgb(201 81 54);
}

.webo__scroll {
  background-color: var(--webo-blue-dark);

  width: 70px;
  height: 70px;
  border-radius: 72px;
  position: absolute;
  right: 20px;
  top: 45%;
  z-index: 100;
}

.webo__scroll > img {
  width: 100%;
}

.webo__leftpanel {
  flex: 0 0 40%;
  background-color: rgb(15, 14, 15);
  max-height: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.webocontainer {
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 100%;
  height: 100%;
}

.weboArt1 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
}

.weboArt1 img {
  width: 75%;
  margin: auto;
}

.weboArt2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  bottom: -100%;
  background-color: rgb(0, 0, 0);
  left: 0;
}

.weboArt2a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  bottom: -100%;
  animation-name: scrollIN;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.weboArt2 img {
  width: 100%;
  margin: auto;
}

.weboArt3 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  bottom: -100%;
  background-color: rgb(255, 255, 255);
}

.weboArt3 img {
  width: 55%;
  margin: auto;
  transform: translateX(9%);
}
@keyframes scrollIN {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0%;
  }
}
.webo__rightpanel {
  flex: 5;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.webo__rightpanel__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.webo__bgcloudA {
  position: absolute;
  right: 8%;
  top: 30px;
}

.webo__bgcloudA > img {
  width: 90%;
}
.webo__bgcloudB {
  position: absolute;
  left: 5%;
  bottom: 250px;
  width: 50%;
}
.webo__bgcloudB > img {
  width: 20%;
}

/*RIGHT PANEL TOP PAGE*/

.webo__rightpanel__body__top {
  width: 100%;
  height: 100%;
  min-height: 700px;
  display: flex;
  /* max-width: 960px; */
  /* min-height: 90vh; */
  align-items: center;
  flex-shrink: 0;
  background-color: #fff;
  overflow: overlay;
  /* margin-bottom: 4rem; */
}

.webo__rightpanel__body__top__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem;
  max-width: 800px;
}

/*RIGHT PANEL TOP-RIGHT PAGE*/

.weboTag {
  font-family: "Calibri";
  color: var(--webo-black);
  font-size: calc(5.7 * var(--webo-font));
  font-weight: 400;
  letter-spacing: -9px;
}

.weboNum {
  font-family: "Calibri";
  color: var(--webo-grey-light);
  font-size: calc(3.8 * var(--webo-font));
  letter-spacing: -5px;
}

.webo__rightpanel__body__top__description {
  display: flex;
}

.webo__rightpanel__body__top__description__left {
  flex: 0 50%;
  /* min-width: 600px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: rgb(121, 121, 121); */
  /* padding-right: 4rem; */
}

.webo__rightpanel__body__top__left__textfield {
}

.webo__name {
  color: var(--webo-blue-dark);
  font-size: calc(5.6 * var(--webo-font));
  line-height: calc(6 * var(--webo-font));
  font-weight: 700;
}

.webo__tag {
  color: var(--webo-black);
  font-size: calc(3 * var(--webo-font));
  line-height: calc(4 * var(--webo-font));
  font-weight: 400;
}

.webo__definition-list {
  display: grid;
  grid-template-columns: 90px 5fr;
  grid-template-rows: 0fr 0fr 0fr;
  grid-row-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  /* height: 345px; */
}

.webo__line {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: center;
}

.webo__highlight {
  color: var(--webo-blue-dark);
  font-family: "Calibri";
  font-size: calc(2.8 * var(--webo-font));
  line-height: calc(3 * var(--webo-font));
  font-weight: 400;
  font-style: normal;
}

.webo__points {
  color: var(--webo-grey-light);
  font-style: normal;
  font-size: calc(1.7 * var(--webo-font));
  line-height: calc(2.3 * var(--webo-font));
  font-weight: 300;
  width: 100%;
}

.webo__one {
  grid-row: 1/2;
  grid-column: 2/3;
}

.webo__two {
}
.webo__three {
  grid-row: 2/3;
  grid-column: 2/3;
  overflow-wrap: break-word;
  /* padding-right: 1.2em; */
}

.webo__four {
  grid-row: 3/4;
  grid-column: 2/3;
  /* padding-right: 1.2em; */
  overflow-wrap: break-word;
  white-space: break-spaces;
}

.webo__rightpanel__body__top__left__base {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 90px;
  align-items: center;
  padding-bottom: 10px;
}

.webo__socials {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.webo__socials__logo {
  width: 15%;
  height: auto;
  margin-right: 10px;
}

.webo__contact {
  align-self: flex-end;
  display: flex;
  flex: 0 0 155px;
  align-items: flex-end;
  justify-content: flex-end;
}
.webo__contact > button {
  font-size: calc(1.8 * var(--webo-font));
  border-radius: 1rem;
  outline: none;
  border: none;

  padding: 1rem 2rem;
  color: white;
  background-color: var(--webo-blue-dark);
}

/*RIGHT PANEL TOP-LEFT PAGE*/

.webo__rightpanel__body__top__description__right {
  height: 100%;
  flex: 5;
  /* background-color: rgb(167, 138, 138); */
  display: flex;
  flex-shrink: 1;
  justify-content: flex-end;
}

.webo__rightpanel__body__top__description__right__image {
  /* width: 80%; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/*RIGHT PANEL Mid PAGE*/
.webo__rightpanel__body__mid {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  /* min-height: 90vh; */
  /* padding: 4rem 4rem 4rem 4rem; */
  /* max-width: 1200px; */
  font-family: "Roboto";
  flex-shrink: 0;
  border-bottom-left-radius: 0px;
  overflow: overlay;
}

.webo__rightpanel__body__mid__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  height: 100%;
  padding: 4rem;
}
.webo__rightpanel__body__mid__container__content {
  min-width: 300px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: rgb(121, 121, 121); */

  color: white;
}

.webo__content__primary {
  font-size: calc(6 * var(--webo-font));
  line-height: calc(4.5 * var(--webo-font));
  color: var(--webo-blue-dark);
  font-weight: 700;
}

.webo__content__divider {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: var(--webo-font-sub);
  font-weight: 300;
  font-size: calc(2.2 * var(--webo-font));
}

.webo__content__divider > p {
  margin: 0 20px;
}

.webo__lineboxOne {
  flex: 1;
  height: 4px;
  background-color: white;
}

.webo__lineboxTwo {
  flex: 7;
  height: 4px;
  background-color: white;
  position: relative;
}

.webo__lineboxThree {
  flex: 1;
  height: 4px;
  background-color: white;
}

.webo__lineboxFour {
  flex: 7;
  height: 4px;
  background-color: white;
  position: relative;
}

.webo__bgPlantA {
  position: absolute;
  bottom: 4px;
  display: flex;
  justify-content: flex-end;
  right: 0px;
}

.webo__bgPlantB {
  position: absolute;
  bottom: 4px;
  display: flex;
  justify-content: flex-end;
  right: 0px;
}

.webo__content__detail {
  font-family: var(--webo-font-sub);
  font-weight: 700;
  font-size: calc(2.2 * var(--webo-font));
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.webo__content__secondary {
  font-family: var(--webo-font-main);
  font-weight: 700;
  font-size: calc(4.5 * var(--webo-font));
  color: var(--webo-blue-dark);
}

/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
  .webo__page {
    --webo-font: 0.9rem;
  }
  .webo__contact {
    align-self: flex-end;
    display: flex;
    flex: 0 0 140px;
  }
  .webo__rightpanel__body__top__left__base {
    padding-left: unset;
  }
}

@media screen and (max-width: 900px) {
  .webo__page {
    /* --webo-font: 1.5rem; */
  }
  .webo__page__container__close {
    left: unset;
    right: 10px;
    position: absolute;
    display: flex;
  }
  .webo__leftpanel {
    visibility: hidden;
    display: none;
  }

  .webo__rightpanel__body__top {
    padding: 0;
  }


  .webo__contact {
    align-self: flex-end;
    display: flex;
    flex: 0 0 135px;
    
  }

  .webo__points {

    font-size: calc(2 * var(--webo-font));
    
  
}

  .webo__contact > button {
    font-size: calc(1.7 * var(--webo-font));
  }
}
@media screen and (max-width: 600px) {
  .webo__page {
    padding: 0;
  }
  .webo__scroll {
    width: 35px;
  }

  .webo__bgcloudA {
    right: -9%;
  }
  .webo__bgcloudA > img {
    width: 60%;
  }

  .webo__rightpanel__body__top {
    flex-direction: column;
  }

  .webo__art {
    width: 60%;
    min-width: 0px;
  }

  .webo__rightpanel__body__top__right__image {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }

  .webo__contact > button {
    font-size: calc(1.8 * var(--webo-font));
  }
}
@media screen and (max-width: 425px) {


  .webo__scroll {
    display: none;
  }
  .webo__bgcloudA > img {
    width: 40%;
  }
  .webo__rightpanel__body__mid {
    background-color: rgb(11 4 139);
    min-height: 700px;
  }

  .webo__rightpanel__body__mid__container {
    padding: 10px;
  }

  .webo__page__container {
    --webo-font: 0.8rem;
    height: 100%;
    width: 100%;
  }

  .webo__rightpanel__body__top__container {
    justify-content:space-evenly;
    height: 100%;
    padding: 1rem;
    
  }

  .webo__rightpanel__body__top__description__left {
    flex: 0 1 75%;
    /* min-width: 600px; */
    height: 100%;

    justify-content: space-evenly;
  }
  .webo__bgcloudA > img {
    width: 40%;
  }
  .webo__bgcloudA {
    top: 70px;
  }
  .weboNum {
    font-size: calc(4.6 * var(--webo-font));
    letter-spacing: -4.4px;
  }

  .weboTag {
    font-size: calc(6 * var(--webo-font));

    letter-spacing: -6px;
  }

  .webo__name {
    font-size: calc(6.9 * var(--webo-font));
    line-height: calc(7.7 * var(--webo-font));
  }

  .webo__tag {
    font-size: calc(3.6 * var(--webo-font));
    line-height: calc(4.4 * var(--webo-font));
  }
  .webo__highlight {
    font-size: calc(3.3 * var(--webo-font));
    line-height: calc(4.5 * var(--webo-font));
  }

  .webo__points {
    font-size: calc(2.4 * var(--webo-font));
    line-height: calc(3.8 * var(--webo-font));
  }

  .webo__rightpanel__body__mid__container {
    padding: 20px;
  }
.webo__rightpanel__body__mid__container__content {
    min-width: 225px;
  }
  .webo__page__container {
    --webo-font: 0.7rem;
    height: 98%;
    width: 95%;
  }

  .webo__content__primary {
    font-size: calc(7.7 * var(--webo-font));
    line-height: calc(6.2 * var(--webo-font));
    color: white;
  }
  .webo__content__secondary {
    font-weight: 700;
    font-size: calc(6.3 * var(--webo-font));
    color: white;
  }

  .webo__content__detail {
    font-size: calc(2.6 * var(--webo-font));
  }

  

  .webo__bgPlantA img {
    width: 50%;
  }
  .webo__bgPlantB img {
    width: 50%;
  }

  .webo__contact > button {
    font-size: calc(2 * var(--webo-font));
  }
}

@media screen and (max-width: 325px) {
  .webo__page__container {
    --webo-font: 0.6rem;
  }
  .webo__bgcloudA {
    display: none;
  }
}
