.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  --homepage-font-size: .8rem;
}

.homepageModal {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  
  
}

.homepageModal__body {
  width: 20%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  min-width: 450px;
  min-height: 360px;
  position: relative;
}

.homepageModal__Welcome {  
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
 
  
}
.homepageModal__Welcome>h1{  
    text-align: center;
    font-size: calc(2.5 * var( --homepage-font-size));    
}
.homepageModal__Welcome>p{  
    text-align: center;
    font-size: calc(3 * var( --homepage-font-size)); 
    font-family: 'Comforter Brush', cursive;   
}

.homepageModal__Enter {
  width: 100%;
  flex: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;

}

.homepageModal__Enter > button {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 30%;
    font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid black;
}



.homepageModal__Enter > button:hover {
    width: 45%;
    height: 25%;
    font-size: 1em;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
  }

  .homepageModal__delay{
    display: flex;
    justify-content: center;
    align-items: center;
 flex-direction: column;
  }

  .homepageModal__delay>p{
    margin-bottom: 10px;
  }

.homepage__body {
  background-color: rgb(0, 0, 0);
  flex: 1;
  display: flex;
    align-items: center;
    justify-content: center;
  
}

.homepage__body__main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    
}
.homepage__body__logo {
display: flex;
min-width: 500px;


}
.homepage__body__logo>img {
  margin-top: -30px;
  width: 100%;
  margin-bottom: -10px;
  margin-left: 2.5%;
}

.homepage__body__text {
  color: var(--yellow);
  font-size: 1.2rem;
  opacity: 0;
}

.homepage__footer {
  background-color: rgb(149, 67, 0);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  transform-origin: bottom;
  transform: translateY(100%);
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: none;
}

.homepage__footer__button {
 padding: 0 50px;
  height: 30px;
  border-radius: 10px;
  border: solid var(--yellow) 2px;
  background-color: white;
  font-size: 1.6rem;
}

.homepage__footer__button:hover {
  
  height: 30px;
  border-radius: 10px;
  border: solid var(--yellow) 2px;
  transform: scale(1.1);
  background-color: black;
  color: white;
}


@media screen and (min-width : 2560px ) {
  .homepage{
    --homepage-font-size: 1rem;
  }
  
 
}

@media screen and (max-width : 425px) {
  
  .homepage{
    --homepage-font-size: .6rem;
  }

  .homepage__body__logo {
    display: flex;
    min-width: 380px;
  }

  .homepageModal__body{
    min-width: 300px;
  }
}
@media screen and (max-width :280px ) {
  
  .homepage{
    --homepage-font-size: .4rem;
  }

  .homepageModal__body{
    min-width:100%;
  }

  .homepage__body__logo {
    display: flex;
    min-width: 350px;
  }
}