.posthomepage {
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
 
}

.posthomepage__bgSlider {
  position: absolute;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0px;
  transform-origin: top;
}

.posthomepage__svg {
  z-index: 2;
  transform-origin: left;
  transform: scaleX(0.01);
}
.posthomepage__svg__imagediv {
  position: absolute;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
  height: 99.5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.posthomepage__svg__imagediv__bars {
  width: 10%;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.posthomepage__svg__imagediv__bars__image {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.posthomepage__svg__imagediv__bars__image > img {
  width: 90%;
  border-radius: 50%;
}

.posthomepage__svg__object {
  width: 100%;
  position: relative;
}
.posthomepage__loader {
  z-index: 2;
  flex-grow: 1;
}
