@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@font-face {
  font-family: "Amatic SC";
  src: url("./Fonts/AmaticSC-Regular.ttf") format("truetype");
  font-family: "Amatic SC Bold";
  src: url("./Fonts/AmaticSC-Bold.ttf") format("truetype");
  font-family: "Calibri";
  src: url("./Fonts/Calibri.ttf") format("truetype");
  font-family: "Calibri light";
  src: url("./Fonts/Calibri.ttf") format("truetype");
  font-family: "Calibri Bold";
  src: url("./Fonts/Calibrib.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



:root {
  --blue: #1a007e;
  --yellow: #ffc738;

  /*WEBO*/
  --webo-blue-dark: #0b048b;
  --webo-grey-light: #434343;
  --webo-black: #000000;
  --webo-font: 1rem;
  --webo-font-main: "Roboto";
  --webo-font-sub: "Calibri";

  /*TEACHO*/
  --teacho-purple-dark: #ff0202;
  --teacho-blue-dark: #0a0546;
  --teacho-grey-light: #434343;
  --teacho-font: 1rem;
  --teacho-font-main: "Roboto";
  --teacho-font-sub: "Calibri";
  --teacho-black: #000000;

  /*SOUNDO*/
  --soundo-pink-dark: #09ccff;
  --soundo-blue-dark: #0a0546;
  --soundo-grey-light: #434343;
  --soundo-font: 1rem;
  --soundo-font-main: "Roboto";
  --soundo-font-sub: "Calibri";
  --soundo-black: #000000;

  /*CONTENTO*/
  --contento-color-primary: #ffc738;
  --contento-color-secondary: #ffffff;
  --contento-color-tertiary: #434343;
  --contento-font: 1rem;
  --contento-font-main: "Roboto";
  --contento-font-sub: "Calibri";
  --contento-color-dark: #000000;

  /*MODAL GLOBAL*/
  --modal-width: 95%;
  --modal-height: 90%;

  /*Query Widths*/
  --Screen-Mobile-S: 320px;
  --Screen-Mobile-M: 375px;
  --Screen-Mobile-L: 425px;
  --Screen-Tablet: 768px;
  --Screen-Laptop: 1024px;
  --Screen-Laptop-L: 1440px;
  --Screen-4K: 2560px;

  /*CHAR SELECTION PAGE*/

  --charsel-font: 1rem;
}





html {
  font-size: 67.5%;
  --main-font : "Calibri",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif ';
  --sub-font : "Roboto", "Arial", 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';

}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  font-family: var(--sub-font);
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.body::-webkit-scrollbar {
  display: none;
}

