.Panels {
  display: flex;
  width: 100%;
}

.App_header {
  height: 47px;
  background-color: #3434CA;
  position: absolute;
  width: 100%;
  z-index: 10;
}


.leftPanel__header {
  height: 47px;
  background-color: #3434CA;
}

.leftPanel__body {
  display: flex;
  flex-direction: row;
  width: 100%;  
  flex-grow: 1;
  overflow-x: hidden;
}

.leftPanel__margin {
  width: 14px;
  background-color: #ffb800;
  height: 100%;
}

.leftPanel__characterPanel {
  background-color: #3434CA;
  top: 16px;
  left: 12px;
  height: 96.5vh;
  min-width: 80%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 73px;
  border: 4px solid white;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.selectionPanel {
  background-color: #3434CA;
  color: rgb(255, 255, 255);
  border-bottom: 4px solid white;
  font-size: 1.2em;
  display: flex;
  width: 100%;
  height: 8%;
  min-height: 3em;
  min-width: 92%;
  z-index: 10;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  margin-bottom: 8px;
  position: absolute;
  top: 0px;

}

.description__panel {
  width: 99%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  padding-bottom: 160px;
  overflow: scroll;
  padding-top: 8%;
  
}

.character__description__header{
  box-sizing: inherit;
  display: flex;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom-right-radius: 21px;
  margin-bottom: 4px;
}

.character__description__header > p {
  padding: 3px 9px;
  background-color: #3434CA;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.character__description__header > h2 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.6em;
}

.character__description {
  color: black;
  width: 100%;
  padding: 8px;
  font-size: 1.2em;
  background-color: rgb(255, 255, 255);
  margin-bottom: 4px;
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px;
  overflow-y: hidden;
  flex-grow: 1;
}

.character__technicalSkill__header {
  box-sizing: inherit;
  display: flex;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom-right-radius: 21px;
  margin-bottom: 4px;
  border-top-right-radius: 21px;
}

.character__ratings {
  width: 100%;
  background-color: #ffffff;
  flex-grow: 1;
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px;  
  margin-top: 0px;
  margin-bottom: 4px;
}

.leftPanel__footer {
  height: 72px;
  background-color: #3434CA;
}
.footerPanel {
  width: 100vw;
  background-color: #3434CA;
  height: 72px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.character__experience__software {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 21px;
  padding: 5px;
  margin-bottom: 4px;
}

.character__experience__software > img {
  width: 12%;
  margin: 2px;
}

.character__choicePanel {
  border-top: 4px solid white;
  background-color: rgb(235, 0, 0);
  width: 100%;
  height: 150px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 16px;
  bottom: 0px;
  /* flex: 0 0 150px; */
  position: absolute;

}

.character__panel__filler{
  flex-grow: 1;
}

.character__select__footer {
  width: 26.15%;
  min-width: 400px;
  max-width: 502px;
 
}



.character__select__button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.character__select__button > button {
  border: 2px solid rgb(255, 255, 255);
  font-size: 23px;
  padding: 5px 41px;
  border-radius: 20px;
}

.character__select__button > button:hover {
  background-color: rgb(235, 0, 0);
  transform: scaleX(1.1);
  transform: scaleY(1.1);
  border: 2px solid rgb(255, 255, 255);
  color: #ffffff;
}
